:root {
  --primary-bg-color: #000000;
  --text-color: #e3e3e3;
  --main-bg-color: #b5a67385;
  --main-text-color: #ffffff;
  --main-btn-bg-color: #576ad5;
}

body,
h1 {
  color: #000000;
  font-size: 50px;
}
p,
ul {
  margin: 0;
  padding: 0;
}
/* I used a background image of the State Library that I took myself. I think for an art video, it makes sense to have images in an art location. It makes the viewer feel like they are really immersed in the art space. */
body {
  height: 100%;
  background: #fff8db url(DSC09713.jpg) no-repeat;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-size: 2300px 1316px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #404040;
  line-height: 20px;
}

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}
/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

/* Navigation styling */
nav {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  background-color: rgba(0, 0, 0, 0.492);
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  color: var(--text-color);
}

/* I put the main video in the frame to highlight it more, making the viewer know that it is the main video that I want to convey. */
.media-player {
  width: 100%;
  margin: 0 auto;
}
#custom-video-player {
  align-items: center;
  padding: 15px 20px 15px 20px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px solid rgba(220, 207, 156, 0.476);
  border-radius: 10px/10px;
  box-shadow: 10px 10px 5px 3px rgba(128, 128, 128, 0.615);
  display: flex;
  justify-content: center;
}
.media-player video {
  max-width: 100%;
  justify-content: center;
}

.custom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  border: 3px solid rgb(189, 173, 146);
  border-radius: 5px/5px;
  box-shadow: 5px 5px 2.5px 1.5px rgba(128, 128, 128, 0.308);
}

.progress-bar {
  width: 100%;
  float: center;
  position: relative;
}

.seek-bar {
  margin-top: 15;
  width: 100%;
  height: 1%;
  border-radius: 1px;
  background-color: #ececec;
  cursor: pointer;
  overflow: hidden;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1000px;
  height: 10px;
  background: #088d2c;
  box-shadow: -4000px 0 0 4000px #810000d6;
}
.current-time,
.music-time {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.music-time {
  position: absolute;
  float: left;
  right: 0;
  color: #ffffff;
}
/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
h2 {
  color: #ffffff;
  font-size: 20px;
}
hi {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
p {
  color: #ffffff;
  font-size: 16px;
}
